p {
    color: blue ;
}

h2 {
    color: red;
}
.title {
    background-color: rgb(170, 30, 30);
}
.picture {
    background-color: aqua;
    height: 80px;
    width: 500px;
}
.self-produce {
    background-color: wheat;
}
.link {
    background-color: coral;
}
.list {
    background-color: darkgrey;
}