.title {
    background-color: aliceblue;
}
.picture {
    background-color: aqua;
}
.self-produce {
    background-color: wheat;
}
.link {
    background-color: coral;
}
.list {
    background-color: darkgrey;
}